<% if @parsed_json.length != 0 %>
<div class="row m-0">
<div class="col-6 p-0">
  <div class="ml-4 mr-4">
    <div class="row text-center m-auto">
      <% @parsed_json.each do |parsed| %>
        
          <div class="card border-dark mb-3 mr-2 ml-2 col-md-5 p-0">
        
          <% if parsed['latitude'].nil? && parsed['longitude'].nil? %><div class="card-header w-100"><%= parsed["street"] || "No address found" %> <%= "- " + parsed["city"] + ", " + parsed["state"] %></div>
          <% else %><%= link_to "https://www.google.com/maps/search/?api=1&query="+parsed['latitude']+"," +parsed['longitude']+ "", class:"text-dark", target: "_blank" do %><div class="card-header w-100"><%= parsed["street"] || "No address found" %> <%= "- " + parsed["city"] + ", " + parsed["state"] %><% end %></div><% end %>
          <%= link_to brewery_path(id: parsed["id"]), class: "nohover" do %>
          <div class="card-body text-dark">
            <h5 class="card-title"><%= parsed["name"] %></h5>
            <p class="card-text"><%= parsed["brewery_type"] %> brewery <br><%= parsed["website_url"] %></p>
          </div>
          <% end %>
          </div>
        
      <% end %>
    </div>
  </div>
</div>
<div class="col-6 p-0">
  <div id="map" style="width: 50%; height: 93.8vh;" class="position-fixed"></div>
<% end %>
  <script type="text/javascript">
    var locations = [
      <% @parsed_json.each do |parsed| %>
      <% if parsed["latitude"].nil? && parsed["latitude"].nil? && @parsed_json.length != 1 %>
      <% elsif parsed["latitude"].nil? && parsed["latitude"].nil? && @parsed_json.length == 1 %>
      <% @prazno = 0 %>
      <% else %>
      ['<%= parsed["name"] %>', <%= parsed["latitude"] %>, <%= parsed["longitude"] %>, <%= parsed["id"] %>, '<%= parsed["website_url"] %>'],
      <% @prazno = 1 %>
      <% end %>
      <% end %>
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      <% if @prazno == 0 %>
      zoom: 4,
      <% else %>
      zoom: 11,
      <% end %>
      center: new google.maps.LatLng(<% @parsed_json.each do |parsed| %><% if parsed["latitude"].nil? && parsed["latitude"].nil? && @prazno != 0 %><% elsif @prazno == 0 %>40.923914, -99.468859<% else %><%= parsed['latitude'] %>, <%= parsed['longitude'] %><% break %><% end %><% end %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent("<a href='/brewery/"+locations[i][3]+"'>"+locations[i][0]+"</a><br><br><a href='"+locations[i][4]+"' target='_blank'>"+locations[i][4]+"</a>");
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
</div>
</div>
</div>