<div class="row visoko m-0">
<div class="col-6 p-0">
<div class="bootstrap snippets bootdey">
    <div class="row">
		<div class="col-md-12 ml-4">
        <h2 class="mt-2"><%= @brewery["name"] %></h2>
        <p><%= @brewery["brewery_type"] %> - brewery</p>
        <p><strong>Address: </strong><%= @brewery["street"] %>, <%= @brewery["city"] %> <%= @brewery["state"] %></p>
        <hr>
        <h3>Contact:</h3>
        <p>Phone: <a href='tel:<%= @brewery["phone"] %>' ><%= @brewery["phone"] %></a></p>
        <p>Website: <a href='<%= @brewery["website_url"] %>' target="_blank" ><%= @brewery["website_url"] %></a></p>
		    <div class="blog-comment pl-0">
				<h3 class="text-success mb-4">Reviews</h3>
				<ul class="comments">
                <% if @comments.empty? %>
                 <h2 class="text-secondary">No reviews yet! Add one!</h2>
                <% else %>
                <% @combined = 0.0  %>
                <% @count = 0 %>
				<% @comments.each do |comment| %>
                <% @combined = @combined+comment.rating%>
                <% @count = @count + 1 %>
                    <% if !comment.blacklist? %>
                        <li class="clearfix">
                            <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                            <div class="post-comments">
                            <p class="meta"><%= comment.created_at.strftime("%B %d %Y") %> <a href="/user/<%= comment.user.id %>"><%= comment.user.email %></a> rates : <i class="pull-right"><large><% comment.rating.times do %><span style="font-size:200%;color:#ffcc00;">&starf;</span><% end %></large></i></p>
                            <p><%= comment.text %></p>
                        </div>
                        </li>
                    <% else %>
                        <li class="clearfix">
                            <img src="https://bootdey.com/img/Content/user_2.jpg" class="avatar" alt="">
                            <div class="post-comments">
                            <p class="meta"><large><% comment.rating.times do %><span style="font-size:200%;color:#ffcc00;">&starf;</span><% end %></large></p>
                            <p><i>This review has been removed by an admin.</i></p>
                        </div>
                        </li>
                    <% end %>
                <% end %>
                <hr>
                <p>The average rating for this brewery is: <strong><%= @combined/@count %></strong></p>
                <% end %>
				</ul>
			</div>
		</div>
        <% if user_signed_in? %>
<div class="form-group ml-5">
<h4>Write a review!</h4><br>
<%= form_for @comment do |f| %>
    
    <%= f.hidden_field :brewery_id, value: @brewery["id"] %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :rating, "Ocena (1-5):", class: "form-check-label", :required => true %>
    <%= f.number_field :rating, min: 1, max: 5, class: "form-control mt-2" %>
    <%= f.label :text, "Opis:", class: "form-check-label", :required => true %>
    <%= f.text_area :text, class: "form-control mt-2" %>
    <%= f.submit "Submit", class: "btn btn-outline-primary mt-2 mb-2", disable_with: 'Submiting...' %>
<% end %>
</div>
<% end %>
	</div>
</div>
</div>
<div class="col-6 p-0">
<% if @brewery['latitude'].nil? && @brewery['longitude'].nil? %>
<img src="https://media.npr.org/assets/img/2018/10/16/rts1u2te-71fe69214f2094429ea5ca2485cd1fbd5ee8383f.jpg" width="100%">
<% else %>
<iframe
  width="100%"
  height="100%"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBXkp23WHSduMxsNas6EbuwR2PU3KvOEms&q=<%= @brewery['latitude'] %>,<%= @brewery['longitude'] %>" allowfullscreen>
</iframe>
<% end %>
</div>
</div>