<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'DOM', root_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <%= link_to 'Home', root_path, class:'nav-link' %><span class="sr-only">(current)</span>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
          <%= current_user.email %>  
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path, class: "nav-link") %>  
          </li>
        <% end %>
      </li>
    </ul>
    <%= form_with(url: search_path, method: "get", local: true, class: "form-inline my-2 my-lg-0") do %>
    <%= text_field_tag(:location, "", placeholder: "Search breweries", type: "search", class: "form-control mr-sm-2") %>
    <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0") %>
    <% end %>
  </div>
</nav>