<!DOCTYPE html>
<html>
  <head>
    <title>DistilleryOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://maps.google.com/maps/api/js?key=AIzaSyBXkp23WHSduMxsNas6EbuwR2PU3KvOEms" 
          type="text/javascript"></script>
  </head>

  <body>

    <%= render partial: "layouts/header" %>

    
    <% if notice %>
       <div class="container"><div class="row"><div class="col-lg-4"></div><div class="col-lg-4"><p class="notice alert alert-success"><%= notice %></p></div><div class="col-lg-4"></div></div></div>
    <% end %>
    <% if alert %>
      <div class="container"><div class="row"><div class="col-lg-4"></div><div class="col-lg-4"><p class="alert alert-danger"><%= alert %></p></div><div class="col-lg-4"></div></div></div>
    <% end %>
    
    <%= yield %>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
